nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    @media  screen and (max-width:700px){
        margin-bottom: 2rem;
    }
    #menu{
        display: none;
        @media  screen and (max-width:700px){
            display: block;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media  screen and (max-width:700px){
            display: none;
        }
        li{
            padding-left: 2rem;
            list-style-type: none;
            position: relative;
            a{
                text-decoration: none;
                color: var(--medium-gray);
                font-weight: 500;
                &:hover{
                    color: var(--almost-black);
                }
            }
        }
    }
}



.navbar__left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar__right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul li{
        margin-right: 1rem;
    }
}

#registerButton{
        padding: .5rem 1.5rem;
        border-radius: 15px;
        border: 2px solid var(--medium-gray);
        &:hover{
            color: var(--almost-black);
            border-color: var(--almost-black);
        }
}