main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    @media screen and (max-width:700px){
        flex-direction: column;
        flex-flow:column-reverse;
        width: 100%;
    }
}

.app__hero-text{
    width: 48%;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width:700px){
        width: 100%;
        align-items: center;
        margin-right: 0;
    }
    h1{
        font-size: 80px;
        font-weight: 700;
        text-align: left;
        @media screen and (max-width:700px){
            text-align: center;
            margin-bottom: 0rem;
        }
    }
    p{
        color: var(--medium-gray);
        line-height: 1.5em;
        width: 75%;
        margin-bottom: 2rem;
        text-align: left;
        @media  screen and (max-width:700px){
            width: 75%;
            text-align: center;
            margin-bottom: 1.5rem;
        }
    }
    a{
        color: var(--almost-white);
        text-decoration: none;
        background-color: var(--almost-black);
        padding: 1rem 2rem;
        margin-top: 2rem;
        border-radius: 15px;
        border: 2px solid var(--almost-black);
        &:hover{
            background-color: var(--almost-white);
            color: var(--almost-black);
            border: 2px solid var(--almost-black);
        }
        @media  screen and (max-width:700px){
            margin: auto;
            margin-top: 1.5rem;
        }
    }
}

picture{
    width: 35%;
    @media  screen and (max-width:700px){
        width: 100%;
    }
    img{
        width: 100%;
    }
}

.brands{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    img{
        padding-right: 2rem;
        @media  screen and (max-width:700px){
            padding-right: 0;
            width: 22%;
        }
    }
    @media  screen and (max-width:700px){
        padding-right: 0;
    }
}